<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибки:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Имя<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Значение<br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    Качество<br>
    <%= f.number_field :quality %>
  </div>
  <div class="field">
    Время<br>
    <%= f.text_field :time %>
  </div>
  <div class="field">
    Период<br>
    <%= f.number_field :rate %>
  </div>
  <div class="field">
    Единицы<br>
    <%= f.text_field :units %>
  </div>
  <div class="field">
    Название<br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    Описание<br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    Вкл<br>
    <%= f.check_box :enabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
