<h1>Параметр</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Значение:</strong>
  <%= @item.value %>
</p>

<p>
  <strong>Качество:</strong>
  <%= @item.quality %>
</p>

<p>
  <strong>Время:</strong>
  <%= @item.time %>
</p>

<p>
  <strong>Период(мс):</strong>
  <%= @item.rate %>
</p>

<p>
  <strong>Единицы:</strong>
  <%= @item.units %>
</p>

<p>
  <strong>Название:</strong>
  <%= @item.label %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Вкл:</strong>
  <%= @item.enabled %>
</p>

<%= link_to 'Изменить', edit_item_path(@item) %> |
<%= link_to 'Список', items_path %>
